<div class="snippet">
  <h1>Paste a new code snippet below:</h1>
  <form action="/" method="POST">
    <p><label for="name">Title: </label><input type="text" name="snippet_title" /></p>
    <textarea name="snippet_body" id="snippet_body" rows="20"></textarea>
    <br/>
    <input type="submit" value="Save"/>
  </form>
</div>
